<table class="zebra" id="{$table_id}">
    <thead>
    <tr>
        <th>{sprintf(_wp('Вес заказа, %s'), $controls['weight_unit'])}</th>
        <th>[`Размеры упаковки`]</th>
        <th>[`Вес упаковки`]</th>
        <th></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td colspan="4" style="background-color: white;border-top: 1px solid #bbb"><a href="javascript:void(0)" class="inline-link js-action-add"><i
                        class="icon16 plus"></i><b><i>[`Добавить условие`]</i></b></a></td>
    </tr>
    </tfoot>
    <tbody>
    {foreach $controls.packs as $pack}
        <tr class="js-size-row">
            <td>≥ {$pack.weight}</td>
            <td>{$pack.size}</td>
            <td>{$pack.add_weight}</td>
            <td class="actions">
                <a href="javascript:void(0)" title="[`Удалить`]" class="js-action-delete"><i
                            class="icon16 no"></i></a>
            </td>
        </tr>
    {/foreach}
    </tbody>
</table>
<script>
    (function () {
        const $table = $('#{$table_id}');

        function addRow(event) {
            event.preventDefault();
            const last_row = $('tr.js-size-row', $table).last();
            if (last_row.length) last_row.clone().appendTo('tbody', $table);
            else $({$empty_row|json_encode:256}).appendTo('tbody', $table);
            renumberRows();
            showWeightUnit();
        }

        function deleteRow(event) {
            event.preventDefault();
            $(this).closest('tr.js-size-row').remove();
            renumberRows();
        }

        function renumberRows() {
            const regex = new RegExp('^(' + '{$namespace}['.replace(/[.*+?^${}()|[\]\\]/g, '\\$&') + ')(\\d+)(\\])');
            $('tr.js-size-row').each(function (idx) {
                const replacement = "$1" + idx + "$3";
                $(this).find(':input[name^="{$namespace}["]').each(function () {
                    const $this = $(this);
                    $this.attr('name', $this.attr('name').replace(regex, replacement));
                })
            });
        }

        function showWeightUnit() {
            const $select = $('thead select[name$="[weight_unit]"]', $table);
            if (!$select.length) return;
            const unit_value = $select.val();
            if (!unit_value || !unit_value.length) return;
            const $option = $('option[value="' + unit_value + '"]', $select);
            if (!$option.length) return;
            const text = $option.text();
            if (!text.length) return;

            $('tr.js-size-row input[name$="[weight]"]', $table).each(function () {
                const $cell = $(this).closest('td');
                const $unit_span = $('span.unit-name', $cell);
                if ($unit_span.length) $unit_span.text(' ' + text);
                else $cell.append('<span class="unit-name"> ' + text + '</span>');
            });
        }

        $table.on('click.sizer', '.js-action-delete', deleteRow)
            .on('click.sizer', '.js-action-add', addRow)
            .on('change.sizer', 'thead select[name$="[weight_unit]"]', showWeightUnit)

        showWeightUnit();
    })();
</script>
